{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>BIG SALE 50% OFF</h1>

        <p>
            Upgrade Your Lifestyle with the Latest Electronics,
            Fashion & Accessories.
        </p>

        <div class="hero-buttons">
            <button class="btn-primary">Shop Now</button>
            <button class="btn-secondary">Explore Products</button>
        </div>
    </div>
</section>

<!-- Categories -->
<section class="categories">

    <h2>Shop by Category</h2>

    <div class="category-container">

        <div class="category-card">
            <img src="{% static 'images/categories/electronics.png' %}" alt="Electronics">
            <h3>Electronics</h3>
        </div>

        <div class="category-card">
            <img src="{% static 'images/categories/fashion.png' %}" alt="Fashion">
            <h3>Fashion</h3>
        </div>

        <div class="category-card">
            <img src="{% static 'images/categories/shoes.png' %}" alt="Shoes">
            <h3>Shoes</h3>
        </div>

        <div class="category-card">
            <img src="{% static 'images/categories/watch.png' %}" alt="Watch">
            <h3>Watches</h3>
        </div>

    </div>

</section>

<!-- Products -->
<section class="products">

    <h2>Featured Products</h2>

    <div class="product-container">

        {% for product in products %}

        <div class="card">

            <img src="{{ product.image.url }}" alt="{{ product.name }}">

            <h3>{{ product.name }}</h3>

            <p>₹ {{ product.price }}</p>

            <a href="{% url 'product_detail' product.id %}">
                <button>View Details</button>
            </a>

        </div>

        {% empty %}

        <h2>No Products Available</h2>

        {% endfor %}

    </div>

</section>

{% endblock %}